body {
  height: 100vh;
  font-family: 'Microsoft YaHei';
  transition: .1s;
}

.my-nav {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(195, 195, 195, 0.3);
  padding-left: 50px;
  padding-top: 0;
  padding-bottom: 0;
}

.nav-link {
  padding-right: 50px;
}

.my-logo {
  height: 70px;
}

.my-title {
  font-size: 23px;
  padding: 0;
  margin: 0;
  color: #007bff;
}

.my-left {
  margin-top: 5px;
  padding-top: 40px;
  text-align: right;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.my-main {
  padding-top: 40px;
}

.biglogo {
  width: 400px;
}

.healer {
  word-wrap: break-word;
  font-size: 70px;
  font-family: "Staatliches", cursive;
  color: #1493FC;
}

.wenhao {
  width: 20px;
  cursor: pointer;
  padding-bottom: 5px;
}

.upload {
  background-color: #ffffff;
  border-radius: 10px;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.figs-container {
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding-left: 40px;
  padding-top: 30px;
  margin-top: 30px;
}

.my-footer {
  height: 10vh;
  background-color: #a8d2ff;
  color: white;
  padding: 15px;
  margin-top: 30px;
  text-align: center;
}

.my-link {
  color: #454545;
  padding: 24px;
  transition: .4s;
}

a:hover {
  color: #fccb36;
  text-decoration: none;
  cursor: pointer;
  transition: .4s;
}

.my-out {
  padding-left: 50px;
  padding-right: 50px;
}

.my-left-main {
  padding: 40px;
  padding-top: 0px;
}

.my-right-main {
  padding: 40px;
  margin-top: 170px;
  border-radius: 40px;
  /* box-shadow: 0 6px 6px rgba(130, 130, 130, 0.3); */
  box-shadow: rgba(138, 138, 138, 0.12) 0px 10px 8px 0px, rgba(167, 167, 167, 0.32) 0px 2px 16px 0px;
  background-color: #ffffff;
}

.my-btn {
  border-radius: 20px;
  width: 96px;
  height: 32px;
}